/* This is for fonts declaration */
@font-face {
    font-family: NunitoBold;
    src: url("../fonts/Nunito-Bold.ttf");
}

@font-face {
    font-family: NunitoRegular;
    src: url("../fonts/Nunito-Regular.ttf");
}