@import url('./variable.css');
@import url('./fonts.css');
@import url('./reset.css');

#bg {
    background-color: var(--bg-color);
}

#header {
    width: 100%;
    height: 296px;
    background-image: url('../images/cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header img {
    display: block;
    margin: auto;
}

#main .profile-configs {
    width: 988px;
    height: 212px;
    background-color: var(--card-box);
    margin: -70px auto;
    border: 1px solid var(--card-box);
    border-radius: 10px;
}

#main .profile-configs .profile {
    display: flex;
}

#main .profile-configs .profile .profile-avatar {
    width: 148px;
    height: 148px;
}

#main .profile-configs .profile .profile-avatar .avatar {
    margin: 32px 0px 32px 40px;
}

#main .profile-configs .profile .profile-info {
    margin: 40px 0px 0px 32px;
}

#main .profile-configs .profile .profile-info .profile-grid {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
}

#main .profile-configs .profile .profile-info .profile-grid .profile-name {
    font-family: 'NunitoBold', Arial;
    font-size: 24px;
    color: var(--card-title);
    margin-left: 32px;
}

#main .profile-configs .profile .profile-info .profile-grid .profile-link {
    color: var(--link);
    text-transform: uppercase;
    font-family: 'NunitoBold', Arial;
    font-size: 12px;
    margin-left: 32px;
    margin-right: 32px;
}

#main .profile-configs .profile .profile-info .profile-grid .profile-link .share {
    width: 14px;
    height: 14px;
    margin-left: 10px;
}

#main .profile-configs .profile .profile-info .profile-grid .profile-link .share {
    content: url('./../images/svg/arrow-up-right-from-square-solid.svg');
}

#main .profile-configs .profile .profile-info .profile-description {
    font-size: 16px;
    font-family: 'NunitoRegular', Arial;
    color: var(--card-paragraph);
    margin-left: 32px;
    margin-bottom: 24px;
    line-height: 30px;
}

#main .profile-configs .profile .profile-info .profile-icons {
    margin-left: 10px;
}

#main .profile-configs .profile .profile-info .profile-icons span {
    font-size: 16px;
    font-family: 'NunitoRegular', Arial;
    color: var(--card-icons-text-and-post);
    margin-left: 24px;
}

#main .profile-configs .profile .profile-info .profile-icons span i {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

#main .profile-configs .profile .profile-info .profile-icons span .github {
    content: url('./../images/svg/github-brands.svg');
    fill: green;
}

#main .profile-configs .profile .profile-info .profile-icons span .company {
    content: url('./../images/svg/building-solid.svg');
}

#main .profile-configs .profile .profile-info .profile-icons span .followers {
    content: url('./../images/svg/user-group-solid.svg');
}

#main .post-and-search {
    width: 988px;
    margin: 120px auto 10px auto;
    border-radius: 10px;
}

#main .post-and-search .total-of-post {
    text-align: right;
    margin-bottom: 15px;
}

#main .post-and-search .total-of-post span {
    font-family: 'NunitoRegular', Arial;
    font-size: 14px;
    color: var(--number-of-post);
}

#main .post-and-search .search {}

#main .post-and-search .search input {
    width: 96.5%;
    padding: 16px;
    background-color: var(--input);
    border-radius: 8px;
    border: 1px solid var(--card-box);
    color: var(--input-text);
}

#main .post-and-search .search input::placeholder {
    font-family: 'NunitoRegular', Arial;
    font-size: 16px;
    color: var(--placeholder-text);
    margin: 12px 16px 12px 16px;
}

#main .posts {
    margin: 10px auto;
}

#main .row {
    display: flex;
    justify-content: center;
}

#main .card {
    width: 416px;
    height: 220px;
    padding: 0px 32px 32px 32px;
    background-color: var(--card-box);
    border: 1px solid var(--card-box);
    border-radius: 10px;
    margin: 1%;
}

#main .card .card-header {
    display: flex;
    justify-content: space-between;
}

#main .card .card-header .card-title {
    font-family: 'NunitoBold', Arial;
    color: var(--card-title);
    font-size: 20px;
    line-height: 130%;
    padding: 32px 16px 20px 0px;
}

#main .card .card-header .card-days {
    color: var(--number-of-post);
    font-family: 'NunitoRegular', Arial;
    width: 100px;
    font-size: 14px;
    margin-left: 25px;
    padding: 37px 0px 32px 0px;
}

#main .card .card-paragraph {
    color: var(--card-paragraph);
    font-family: 'NunitoRegular', Arial;
    font-size: 16px;
    text-align: left;
}