:root{
    --bg-color: #071422;
    
    --card-title: #E7EDF4;
    --card-paragraph: #AFC2D4;
    --card-icons-text-and-post: #C4D4E3;
    --gitHub-link: #3294F8;
    --number-of-post: #7B96B2;
    --placeholder-text: #3A536B;
}